/* для всех элементов ограничиваем их размеры размерами блока */
* {
    box-sizing: border-box;
}

/* общие настройки страницы */
html,
body {
    height: 100%;
}

/* ставим тёмный фон и растягиваем на всю высоту */
body {
    background: white;
    min-height: 100%;
    font-family: "Arial", sans-serif;
}

/* стили основного блока */
.wrap {
    /* устанавливаем относительное позиционирование */
    position: relative;
    /* высота элементов */
    height: 100%;
    /* минимальная высота и отступы */
    min-height: 500px;
    padding-bottom: 20px;
}

/* блок с игрой */
.game {
    /* добавляем трёхмерность для эффекта вращения */
    transform-style: preserve-3d;
    perspective: 500px;
    /* пусть элементы занимают всё доступное им пространство */
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

#cards {
    /* добавляем трёхмерность для эффекта вращения */
    transform-style: preserve-3d;
    perspective: 500px;
    /* пусть элементы занимают всё доступное им пространство */
    min-height: 50%;
    height: 99%;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: stretch;


}

#timer {
    font-size: large;
    text-align: center;
}



/* стили карточек */
.card {
    /* параметры расположения, высоты и ширины карточки */
    float: left;
    /*width: 16%;
    height: 25%; 
    margin: 7%;
    width: 20%;
    height: 34%;
    */

    /* отступы */
    padding: 5px;
    /* выравнивание по центру */
    text-align: center;
    /* подключаем блочные элементы и перспективу */
    perspective: 500px;
    /* добавляем относительное позиционирование */
    position: relative;
    cursor: pointer;
    z-index: 50;
    margin: 5px;
    font-size: 50px;


    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;


}

/*
.card_2 {
    margin: 2%;
    width: 21%;
    height: 39%;
}

.card_4 {
    margin: 2%;
    width: 20%;
    height: 36%;
}

.card_6 {
    margin: 2%;
    width: 18%;
    height: 29%;
}

.card_8 {
    margin: 1%;
    width: 13%;
    height: 24%;
}

.card_10 {
    margin: 2%;
    width: 13%;
    height: 21%;
}


*/

.card.back {
    /* background-image: url("img/card_back.png"); */
    /* background-size: cover; */
    background-position: center;
}


.modal {
    display: none;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.modal_vis {
    display: block;
}

.modal_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
}



.btn {
    width: 162px;
    margin-bottom: 10px;
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}

#close_modal {
    visibility: hidden;
}

#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}

.modal_txt {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background: #FFF;
    padding: 30px;
    margin: 100px auto;
    max-width: 800px;
}

.open_modal {
    visibility: hidden;
}

.div_win_first {
    background-color: lightgreen !important;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.lb1 {
    margin: 1em;
}

#timer {
    border: 5px solid #004853;
    display: inline;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#timer_check {
    display: none;
}

#timer_check+.lb1,
#timer_check+.lb1::before,
#timer_check+.lb1::after {
    transition: all .3s;
}

#timer_check+.lb1 {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
}

#timer_check+.lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

#timer_check+.lb1::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 54px;
    height: 54px;
    background-color: white;
}

#timer_check:checked+.lb1::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}

#timer_check:checked+.lb1::after {
    left: 83px;
    background-color: #f7f7f7;
}

#timer_check+.lb1 {
    background-color: #ccc;
}

#timer_check:checked+.lb1 {
    background-color: green;
}

#timer_check:checked+.lb1::before {
    color: #fff;
}


.neonText {
    margin-bottom: 50px;
    font-size: 60px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #007bff,
        0 0 82px #007bff,
        0 0 92px #007bff,
        0 0 102px #007bff,
        0 0 151px #007bff;
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #007bff,
            0 0 80px #007bff,
            0 0 90px #007bff,
            0 0 100px #007bff,
            0 0 150px #007bff;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #007bff,
            0 0 45px #007bff,
            0 0 55px #007bff,
            0 0 70px #007bff,
            0 0 80px #007bff;

    }
}