/* для всех элементов ограничиваем их размеры размерами блока */
* {
    box-sizing: border-box;
}

/* общие настройки страницы */
html,
body {
    height: 100%;
}

/* ставим тёмный фон и растягиваем на всю высоту */
body {
    background: white;
    min-height: 100%;
    font-family: "Arial", sans-serif;
}

/* стили основного блока */
.wrap {
    /* устанавливаем относительное позиционирование */
    position: relative;
    /* высота элементов */
    height: 100%;
    /* минимальная высота и отступы */
    min-height: 500px;
    padding-bottom: 20px;
}

/* блок с игрой */
.game {
    /* добавляем трёхмерность для эффекта вращения */
    transform-style: preserve-3d;
    perspective: 500px;
    /* пусть элементы занимают всё доступное им пространство */
    min-height: 100%;
    height: 100%;
}

#cards {
    /* добавляем трёхмерность для эффекта вращения */
    transform-style: preserve-3d;
    perspective: 500px;
    /* пусть элементы занимают всё доступное им пространство */
    min-height: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

}



/* стили карточек */
.card {
    /* параметры расположения, высоты и ширины карточки */
    float: left;
    /*width: 16%;
    height: 25%; */
    margin: 1%;
    width: 16%;
    height: 22%;
    /* отступы */
    padding: 5px;
    /* выравнивание по центру */
    text-align: center;
    /* подключаем блочные элементы и перспективу */
    perspective: 500px;
    /* добавляем относительное позиционирование */
    position: relative;
    cursor: pointer;
    z-index: 50;
    /*margin: 10px;*/
    font-size: 50px;

    display: flex;
    justify-content: center;
}



.card.back {
    background-image: url("img/card_back.png");
    background-size: cover;
    background-position: center;
}


.modal {
    display: none;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.modal_vis {
    display: block;
}

.modal_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
}



.btn {
    width: 162px;
    margin-bottom: 10px;
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}

#close_modal {
    visibility: hidden;
}

#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}

.modal_txt {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background: #FFF;
    padding: 30px;
    margin: 100px auto;
    max-width: 800px;
}

.open_modal {
    visibility: hidden;
}

.div_win_first {
    background-color: lightgreen;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.lb1 {
    margin: 1em;
}

#timer_check {
    display: none;
}

#timer_check+.lb1,
#timer_check+.lb1::before,
#timer_check+.lb1::after {
    transition: all .3s;
}

#timer_check+.lb1 {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
}

#timer_check+.lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

#timer_check+.lb1::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 54px;
    height: 54px;
    background-color: white;
}

#timer_check:checked+.lb1::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}

#timer_check:checked+.lb1::after {
    left: 83px;
    background-color: #f7f7f7;
}

#timer_check+.lb1 {
    background-color: #ccc;
}

#timer_check:checked+.lb1 {
    background-color: green;
}

#timer_check:checked+.lb1::before {
    color: #fff;
}